<div class="review-card-holder">
    <div class="card">
        <div class="card-header">
            Review {{ review.id }}
            <span class="label label-purple clickable">
                Rating <span class="badge">{{ review.rating || 0 }}</span>
            </span>
            <span class="label clickable">
                Comments
                <span class="badge">{{ review.commentsCount || 0 }}</span>
            </span>
            <a class="label clickable author">
                by {{ review.user.username }}
            </a>
        </div>
        <div class="card-block">
            <div class="card-text">
                {{ review.text.substring(0, 50) }}
                {{ review.text.length > 50 ? "..." : null }}
            </div>
        </div>
        <div class="card-footer"><a class="btn btn-sm btn-link">More</a></div>
    </div>
</div>
