<clr-datagrid class="books-list">
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Rating</clr-dg-column>
  <clr-dg-column>Started Reading</clr-dg-column>
  <clr-dg-column>Finished Reading</clr-dg-column>
  <clr-dg-row *clrDgItems="let book of items" [clrDgItem]="book">
    <clr-dg-action-overflow>
      <!-- <button class="action-item" (click)="onEdit(book)">Edit</button> -->
      <button class="action-item" (click)="onDelete(book)">Delete</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>
      <a href="javascript:void(0)" [routerLink]="['/book/', book.volumeId]">
        <clr-icon *ngIf="book.isFavourite" shape="star"></clr-icon>
        {{book.bookTitle}}</a>
    </clr-dg-cell>
    <clr-dg-cell>{{book.rating}}</clr-dg-cell>
    <clr-dg-cell>{{book.dateStartedReading}}</clr-dg-cell>
    <clr-dg-cell>{{book.dateFinishedReading}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{items.length}} books</clr-dg-footer>
</clr-datagrid>