<ng-container *ngIf="!loading; else load">
  <div class="col">
    <ng-container *ngIf="items.length !== 0; else notFoundTemplate">
      <ng-container *ngFor="let comment of items">
        <div class="comment-container">
          <span class="comment-author">{{ comment.user?.username }}</span> : {{ comment.text }}
          <!-- TODO: if user is author -->
          <clr-icon (click)="removeComment(comment.id)" class="rm-btn" shape="times"></clr-icon>
        </div>
      </ng-container>
    </ng-container>
    <div class="comment-container" *ngIf="currentUser">
      <form class="clr-form comment-form" (ngSubmit)="sendMessage()">
        <input [(ngModel)]="commentText" [ngModelOptions]="{ standalone: true }" type="text" id="basic" placeholder="Enter comment"
          class="clr-input" />
        <button type="submit" class="btn btn-outline btn-sm">Comment</button>
      </form>
    </div>
    <div class="comment-container" *ngIf="!currentUser">
      Log in to see realtime comments
    </div>
  </div>
</ng-container>
<ng-template #load>
  <span class="spinner"></span>
</ng-template>
<ng-template #notFoundTemplate>
  <span>Not comments found for this review</span>
</ng-template>