<ng-container *ngIf="!loading; else load">
  <ng-container *ngIf="!notFound; else notFoundTemplate">
    <div class="col">
      <ng-container *ngIf="items.length > 0; else notFoundTemplate">
        <ng-container *ngFor="let comment of items">
          <div class="comment-container">
            <span class="comment-author">{{ comment.user?.username }}</span> :
            {{ comment.text }}
          </div>
        </ng-container>
        <div class="comment-container">
            <form class="clr-form comment-form">
              <input type="text" id="basic" placeholder="Enter comment" class="clr-input">
              <button type="submit" class="btn btn-outline btn-sm">Comment</button>
            </form>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
<ng-template #load> <span class="spinner"></span> </ng-template>
<ng-template #notFoundTemplate>
  <span>Not found comments for this review</span>
</ng-template>