<div class="login-wrapper">
    <form class="login" (submit)="login()">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Book List, {{_user.username || "No username"}}
        </section>

        <div *ngIf="isLoggedIn" class="alert alert-success" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon
                            class="alert-icon"
                            shape="check-circle"
                        ></clr-icon>
                    </div>
                    <span class="alert-text">Already logged in</span>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoggedIn" class="login-group">
            <h5 class="hint">Use your username to sign in</h5>
            <div class="clr-input-container">
                <input
                    type="text"
                    name="username"
                    clrInput
                    placeholder="Username"
                    [(ngModel)]="form.username"
                />
                <clr-icon
                    class="clr-validate-icon"
                    shape="exclamation-circle"
                ></clr-icon>
            </div>

            <div class="clr-password-container">
                <input
                    type="password"
                    name="password"
                    clrPassword
                    placeholder="Password"
                    [(ngModel)]="form.password"
                />
                <clr-icon
                    class="clr-validate-icon"
                    shape="exclamation-circle"
                ></clr-icon>
            </div>

            <div class="clr-checkbox-wrapper">
                <label>Remember me</label>
                <input
                    type="checkbox"
                    name="rememberMe"
                    clrCheckbox
                    [(ngModel)]="form.rememberMe"
                />
            </div>
            <div class="error active">Invalid user name or password</div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="" class="signup">Register</a>
        </div>
    </form>
</div>
