<ng-container *ngIf="!loading; else load">
  <ng-container *ngIf="items.length !== 0; else notFoundTemplate">
    <div class="col">
      <ng-container *ngFor="let review of items">
        <div class="review-container">
          <div class="row review-header">
            <span class="review-author">{{ review.user?.username }}</span>
            <span class="label label-light-blue">
              Book rating: {{ review.rating }}</span>
          </div>
          {{ review.text }}
          <clr-stack-block [clrSbExpanded]="false">
            <clr-stack-label>Comments</clr-stack-label>
            <clr-stack-block>
              <review-comments [reviewId]="review.id"></review-comments>
            </clr-stack-block>
          </clr-stack-block>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <br/>
  <br/>
  <button type="submit" class="btn btn-outline btn-sm" (click)="modalOpened = true" *ngIf="authService.currentUserValue">Add review</button>
  <ng-template #load>
    <span class="spinner"></span>
  </ng-template>
  <ng-template #notFoundTemplate>
    <span>No reviews found for this book</span>
  </ng-template>
</ng-container>

<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Add new review</h3>
  <div class="modal-body">
    <form class="clr-form" #newReview="ngForm">
      <label for="reviewText" class="clr-control-label">Review text</label>
      <div class="col-xs-12">
        <textarea [(ngModel)]="reviewReq.text" name="text" type="text" id="reviewText" placeholder="Enter review text" minlength="10"
          maxlength="200" rows="5"></textarea>
      </div>
      <label for="review-rating" class="clr-control-label">Your rating for this book</label>
      <div class="col-xs-12">
        <select [(ngModel)]="reviewReq.rating" name="rating">
          <option *ngFor="let r of _rating" [ngValue]="r">{{r}}</option>
        </select>
      </div>
      <br/>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addReview()">
      Add
    </button>
    <button type="button" class="btn btn-secondary" (click)="modalOpened = false">
      Close
    </button>
  </div>
</clr-modal>