.review-container {
    padding: 5px;
    border: 1px solid #eee;
    margin: 20px 0;
    .review-header {
        
      .review-author {
            color: blue;
            margin-right: 1em;
            font-weight: bold;
        }
    }
}