<ng-container *ngIf="!loading; else load">
  <ng-container *ngIf="volume; else notFoundTemplate">
    <div class="imgWrapper">
      <ng-container *ngIf="volume.volumeInfo?.imageLinks?.small; else smallImg">
        <img [src]="volume.volumeInfo?.imageLinks?.small" />
      </ng-container>
      <ng-template #smallImg>
        <img [src]="volume.volumeInfo?.imageLinks?.thumbnail" />
      </ng-template>
    </div>
    <div class="row center">
      <span [innerHtml]="volume.volumeInfo?.description"></span>
    </div>
    <div class="row center">
      <div class="clr-form-control clr-row" *ngIf="this.authService.currentUserValue">
        <label for="Buttons" class="clr-control-label clr-col-12 clr-col-md-2">Controls</label>
        <div class="clr-control-container clr-col-12 clr-col-md-10">
          <div class="label-list">
            <span>Current List:</span>

            <ng-container [ngSwitch]="bookInList?.bookList">
              <span *ngSwitchCase="BookList.ALREADY_READ" (click)="deleteBook()" class="label label-purple">
                Already Read
                <span class="badge action">x</span>
              </span>
              <span *ngSwitchCase="BookList.CURRENTLY_READING" (click)="deleteBook()" class="label">
                Currently reading
                <span class="badge action">x</span>
              </span>
              <span *ngSwitchCase="BookList.WISH_TO_READ" (click)="deleteBook()" class="label label-blue">
                Wish to read
                <span class="badge action">x</span>
              </span>
              <span class="label label-blue" *ngSwitchDefault> Not in any list </span>
            </ng-container>

            <button type="button" class="btn btn-sm btn-outline-primary" (click)="openModal()">
              {{ bookInList?.bookList ? 'Change list' : 'Add to list' }}
            </button>
          </div>
        </div>
      </div>

      <hr />
      <form class="clr-form clr-form-compact" #bookDetails="ngForm">
        <div class="clr-form-control clr-row">
          <label for="title" class="clr-control-label clr-col-12 clr-col-md-2">Title</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ volume.volumeInfo?.title || "No info" }}</span>
          </div>
        </div>
        <div class="clr-form-control clr-row">
          <label for="authors" class="clr-control-label clr-col-12 clr-col-md-2">Author/s</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ volume.volumeInfo?.authors || "No info" }}</span>
          </div>
        </div>
        <div class="clr-form-control clr-row">
          <label for="category" class="clr-control-label clr-col-12 clr-col-md-2">Category</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ volume.volumeInfo?.categories || "No info" }}</span>
          </div>
        </div>
        <div class="clr-form-control clr-row">
          <label for="lang" class="clr-control-label clr-col-12 clr-col-md-2">Language</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ volume.volumeInfo?.language || "No info" }}</span>
          </div>
        </div>
        <div class="clr-form-control clr-row">
          <label for="maturity" class="clr-control-label clr-col-12 clr-col-md-2">Maturity Rating</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ volume.volumeInfo?.maturityRating || "No info" }}</span>
          </div>
        </div>
        <div class="clr-form-control clr-row">
          <label for="pages" class="clr-control-label clr-col-12 clr-col-md-2">Page Count</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ volume.volumeInfo?.pageCount || "No info" }}</span>
          </div>
        </div>
        <div class="clr-form-control clr-row">
          <label for="publisher" class="clr-control-label clr-col-12 clr-col-md-2">Publisher</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ volume.volumeInfo?.publisher || "No info" }}</span>
          </div>
        </div>
        <div class="clr-form-control clr-row">
          <label for="pdate" class="clr-control-label clr-col-12 clr-col-md-2">Date published</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ volume.volumeInfo?.publishedDate || "No info" }}</span>
          </div>
        </div>
        <div class="clr-form-control clr-row">
          <label for="rating" class="clr-control-label clr-col-12 clr-col-md-2">Average rating</label>
          <div class="clr-control-container clr-col-12 clr-col-md-10">
            <span>{{ ratingMean }}</span>
          </div>
        </div>
      </form>
      <div class="card">
        <div class="card-header">
          Reviews for "{{ volume.volumeInfo?.title }}"
        </div>
        <div class="card-block">
          <book-reviews (provideRatingMean)="setRatingMean($event)" [volumeId]="volume.id"></book-reviews>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #load>
  <span class="spinner"></span>
</ng-template>
<ng-template #notFoundTemplate>
  <span>Not found</span>
</ng-template>

<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title">{{ bookInList?.bookList ? 'Change list' : 'Add to list' }}</h3>
  <div class="modal-body">
    <select (change)="onListChange($event.target.value)">
      <option *ngFor="let l of lists" [ngValue]="l">{{l}}</option>
    </select>
    <form class="clr-form clr-form-compact" [formGroup]="addBookToListForm">
      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-12 clr-col-md-4">Is favourite?</label>
        <input type="checkbox" clrCheckbox formControlName="isFavourite" />
      </div>
      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-12 clr-col-md-4">Rating </label>
        <select formControlName="rating">
          <option *ngFor="let r of _rating" [ngValue]="r">{{r}}</option>
        </select>
      </div>
      <div class="clr-form-control clr-row" *ngIf="!baseForm">
        <label class="clr-control-label clr-col-12 clr-col-md-4">Date started reading</label>
        <input type="date" clrDate formControlName="dateStartedReading">
      </div>
      <div class="clr-form-control clr-row" *ngIf="!baseForm">
        <label class="clr-control-label clr-col-12 clr-col-md-4">Date finished reading</label>
        <input type="date" clrDate formControlName="dateFinishedReading">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addToList()">
        {{ bookInList?.bookList ? 'Update' : 'Add' }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="modalOpened = false">
      Close
    </button>
  </div>
</clr-modal>