.card-image {
  width: 128px !important;;
  height: 182px !important;;
  max-height: none !important;
  max-width: none !important;
}

.card-header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-description {
  div p {
    // TODO: fix this one (ngcontent p)
    margin-top: 0 !important;
  }
}

form input {
  width: 100%;
}

.imgWrapper {
  text-align: center;
}